@tailwind base;
@tailwind components;
@tailwind utilities;

.card-bg {
  background: linear-gradient(to right, #efeee9, #ffffffc7);
  box-shadow: -8px 8px 14px 2px #000000bf;
  border-radius: 4px;
}

.card-shadow {
  box-shadow: -8px 8px 14px 2px #000000bf;
}
.mainApp {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(to right, #a9bac1, #d3dce3);
}